<div class="container-fluid d-none d-lg-block d-xl-none">
    <div class="card-content">

        <h2 class="text-center voyageTitre">Notre sélection du moment</h2>
   
        <div class="row carteVoyage">
            <% mesVoyages.forEach((voyages)=>{ %>
                <div class="col-md-4">
                    <div class="carte">
                        <img src="images/<%= voyages.img %>" class="img-responsive" alt="">
                        <div class="ville">
                            <h1>
                                <%= voyages.name %>
                            </h1>
                        </div>
                        <div class="date">
                           
                            <h3>Voyage de
                                <%= voyages.sejour %> !</h3>
                            <p>
                                <%= voyages.dateA %> au
                                    <%= voyages.dateR %>
                            </p>
                            <i class="fa fa-calendar fa-2x"></i>
                        </div>
                        <div class="details">
                            <p>
                                <%= voyages.preview %>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
<<<<<<< HEAD

                                
                                 <a class="btn btn-details  text-center" href="voyage/<%= voyages.id %>">Détails</a>
                                
                            </div>
                            <div class="col-md-6">
                                
                                    <a class="btn btn-warning text-center" href="/contact">Contactez-nous</a>
                            
=======
                                    <a href="voyage/<%= voyages.id %>" class="btn btn-details btn-lg">Decouvrir</a>
                              
                            </div>
                            <div class="col-md-6">
                                 <a href="/contact" class="btn btn-warning btn-lg text-center">Contactez-nous</a>
>>>>>>> 48a8798397596b0f5cf73d3df9e2bae4063b3f99
                            </div>
                        </div>
                    </div>
                </div>




                <%  }); %>
        </div>
    </div>
</div>