<%- contentFor('titre') %>
    <h4 class="text-center">ITINERAIRES</h4>
    <%- contentFor('menu')%>
        <div id="demo">
            <!-- Responsive table starts here -->
            <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
            <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>carte</th>
                            <th>voyage</th>
                            <th>Ajouter lieux</th>
                            <th>Modifier un lieux </th>
                            <th>Supprimer un lieux</th>


                        </tr>
                    </thead>
                    <tbody>
                        <% voyages.forEach((carte)=>{ %>
                            <tr>
                                <td data-title="carte">
                                    <%=carte.dateA%>
                                </td>
                                <td data-title="nom">
                                    <%=carte.name%>
                                </td>

                                <td data-title="link">
                                    <a href="/ajoutLieux/<%= carte._id %>" class="btn btn-warning btn-lg">Ajouter un lieux</a>
                                </td>
                                <td data-title="link">
                                    <a href="/modifLieux/<%= carte._id %>" class="btn btn-warning btn-lg">Modifier le lieux</a>
                                </td>
                                <td data-title="link">
                                    <a href="/suppLieux/<%= carte.id %>" class="btn btn-warning btn-lg">Supprimer un lieux</a>
                                </td>

                            </tr>

                            <% }) %>
                    </tbody>
                </table>
            </div>

            <div style="width: 45%; display: inline-block; vertical-align: top; margin-left: 30px;">
            </div>
        </div>