<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title></title>

  <% /* Place any styles in the page in this section. */ %>
  <%- style %>
</head>

<body>
  <header>  
    <%- defineContent('header') %>
  </header>

  <%- body %>

  <footer>
   
    <%- defineContent('footer') %>
  </footer>

  <%- script %>
</body>
</html>
